body {
  font-size: 12px;
  font-family: sans-serif, verdana, arial;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
}

.clear {
  clear: both;
}

#error-message {
  padding: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
  margin: 10px;
  background-color: #ef0808;
}

#notice-message {
  padding: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
  margin: 10px;
  background-color: #7ad78c;
}

span {
  float: left;
  border: 1px solid black;
  line-height: 25px;
  padding: 3px;
}

.section {
  margin: 0 0 30px 20px;
}
.section .name {
  width: 200px;
}
.section .search_as {
  width: 230px;
}
.section .num_index {
  width: 50px;
  padding: 3px;
}
.section .search_name {
  width: 300px;
  padding: 3px;
}
.section .highlight span {
  background-color: #8dbfd9;
}

.main_menu a {
  text-decoration: none;
}

.episode {
  margin: 10px;
  padding: 10px;
}
