body
  font-size: 12px
  font-family: sans-serif, verdana, arial

h1
  font-size: 18px
  font-weight: bold
  padding: 0 0 10px 0

h2
  font-size: 16px
  font-weight: bold
  padding: 0 0 10px 0

.clear
  clear: both

@mixin notice-style
  padding: 10px
  text-align: center
  font-size: 15px
  font-weight: bolder
  margin: 10px

#error-message
  @include notice-style
  background-color: #ef0808

#notice-message
  @include notice-style
  background-color: #7ad78c

span
  float: left

.section
  margin: 0 0 30px 20px

  .name
    width: 200px

  .num_index
    width: 50px
    padding: 3px

  .search_name
    width: 300px
    padding: 3px

  .highlight span
    background-color: #8dbfd9

.main_menu
  a
    text-decoration: none

