- form_tag '/authenticate', :method => :post do
  %div
    %span.name Username
    %span= text_field_tag :username
  .clear
  %div
    %span.name Password
    %span= password_field_tag :password
  .clear
  %div= submit_tag 'search'
